<form class="row" [formGroup]="form">
  <div class="col-6">
    <div class="row">
      <div class="col-md-11">
        <label for="userId" class="form-label">Nome</label>
        <app-users-search id="userId" (userSelected)="fillUserId($event)" [name]="user"></app-users-search>
      </div>
      <div class="col-md-1 d-flex align-items-end justify-content-end">
        <a class="btn btn-dark" [routerLink]="['/users', 'new']">
          <i class="bi bi-person-plus-fill"></i>
        </a>
      </div>
      <div class="col-md-6">
        <label for="especialidade" class="form-label">Especialidade</label>
        <select class="form-select" id="especialidade" formControlName="especialidade">
          <option value="Cardiologia">Cardiologia</option>
          <option value="Dermatologia">Dermatologia</option>
          <option value="Ginecologia">Ginecologia</option>
          <option value="Ortopedia">Ortopedia</option>
          <option value="Pediatria">Pediatria</option>
        </select>
      </div>
      <div class="col-md-6">
        <label for="datetime" class="form-label">Data/Hora</label>
        <input type="text"
        placeholder="Data/Hora"
        class="form-control"
        formControlName="datetime"
        [bsConfig]="datepickerConfig"
        [minDate]="minDate"
        bsDatepicker> 
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12 d-flex justify-content-end">
        <button type="button" class="btn btn-dark" [disabled]="form!.invalid" (click)="action() ">{{ id !== null ? 'Editar' : 'Salvar' }}</button>
      </div>
    </div>
  </div>
</form>