<div class="card text-center">
  <div class="card-body">
    <h5 class="card-title">Escolha uma das opções abaixo:</h5>
  </div>
  <div class="card-group">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Usuário</h5>
        <p class="card-text">Para acessar os usuários.</p>
        <a type="button" class="btn btn-dark" [routerLink]="['/users']">Clique aqui</a>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Agendamento</h5>
        <p class="card-text">Para acessar todos os agendamentos.</p>
        <a type="button" class="btn btn-dark" [routerLink]="['/appointments']">Clique aqui</a>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Painel</h5>
        <p class="card-text">Para acessar o painel de senhas.</p>
        <a type="button" class="btn btn-dark" [routerLink]="['/panels']">Clique aqui</a>
      </div>
    </div>
  </div>
</div>