<div class="card text-center">
  <div class="card-body">
    <h5 class="card-title">Escolha uma das opções abaixo:</h5>
  </div>
  <div class="card-group">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Painel</h5>
        <p class="card-text">Para acessar o painel de senhas.</p>
        <a type="button" class="btn btn-dark" routerLink="panel-senha">Clique aqui</a>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Gerar Senha</h5>
        <p class="card-text">Para gerar sua senha.</p>
        <a type="button" class="btn btn-dark" routerLink="panel-gerar-senha">Clique aqui</a>
      </div>
    </div>
    </div>
  </div>